<% provide(:title, "Home") %>
<div class = "center jumbotron">
  <h1>Checkers Championship</h1>
  <p>
    This is the home page for the
    <a href="https://intense-taiga-25748.herokuapp.com/">JETBI checkers championship</a>
  </p>
</div>
